<div class="jscroll-inner">
{% for groupToAdd in groups %}
    <li class="group-{{ groupToAdd.id }}" data-group-id="{{ groupToAdd.id }}">
        <div>
            <p>{{ groupToAdd.name }}</p>
        </div>

        <a href="#" class="add rounded"
           data-url="{{ path('membership_add_group', {groupId: group.id, groupToAddId: groupToAdd.id}) }}">
            <i class="fa fa-plus"></i>
        </a>

    </li>
{% endfor %}

{% set offset = offset + limit %}
{% if offset < groups.totalCount %}
    <a class="groups-next" href="{{ path('search_group_groups', {'id': group.id, 'query': query, 'offset': offset, 'limit': limit}) }}"></a>
{% endif %}
</div>
