<div class="edit_group" data-id="{{ group.id }}">
    <div class="left">
        <header>
            {% if form %}
                {{ form_start(form, {'action': path('edit_group', {'id': group.id}) }) }}
            {% endif %}

            <div>
                <a id="edit_group_close" href="#" class="close_modal close-modal"><i class="fa fa-times"></i></a>
                <p id="group_title">{{ group.name }} (ID {{ group.id }})</p>
                {% if form %}
                    {{ form_widget(form.name, {'attr': {'class': 'hidden'}}) }}
                {% endif %}
                <a id="show_group_details" class="show_details" href="#"><i class="fa fa-angle-double-down"></i></a>
            </div>

            <div id="group_details" class="hidden details">{{ group.description }}</div>

            {% if form %}
                <div id="edit_group_details" class="hidden details">
                    {{ form_widget(form.description) }}

                    {% if form.parent %}
                        {{ form_widget(form.parent) }}
                    {% endif %}
                </div>

                {{ form_rest(form) }}
                {{ form_end(form) }}
            {% endif %}

            {% if is_granted('EDIT_DETAILS', group) %}
            <section id="group_deletion_confirmation" class="hidden">
                <form action="" method="post">
                    <p>{{ 'Deze groep verwijderen?'|trans }}</p>
                    <a href="#" class="button_blue pull-left confirm" data-url="{{ path('delete_group', {'id': group.id}) }}">
                        {{ 'Ja'|trans }}
                    </a>
                    <a href="#" class="button_dark_grey pull-right cancel">
                        {{ 'Nee'|trans }}
                    </a>
                </form>
            </section>
            {% endif %}
        </header>

        <ul class="tabs">
            {# Add members tab button #}
            <li>
                <a id="group_members" href="#" class="active">
                    {{ 'Group members'|trans }}
                </a>
            </li>
            {# Add group in group tab button #}
            <li>
                <a id="group_in_group" href="#">
                    {{ 'Group In Group'|trans }}
                </a>
            </li>
            {# Add members tab button #}
            <li>
                {% if is_granted('EDIT', group) %}
                <a id="add_members" href="#">
                    <i class="rounded fa fa-plus"></i>{{ 'Add members'|trans }}
                </a>
                {% endif %}
            </li>
            {# Add groups tab button #}
            <li>
                {% if is_granted('EDIT', group) %}
                <a id="add_groups" href="#">
                    <i class="rounded fa fa-plus"></i>{{ 'Add groups'|trans }}
                </a>
                {% endif %}
            </li>

        </ul>

        <div>
        {# Add user in group tab content #}
        <div id="group_members_tab">
            <div class="search_container">
                <div class="input_container">
                    <i class="fa fa-search"></i>
                    <div class="overflow">
                        <input class="searchInput" type="text"/>
                    </div>
                </div>
            </div>

            <ul class="member_collection users_or_groups" data-url="{{ path('search_group_members', {'id': group.id}) }}">
                {% include(':popups:group_members.html.twig') %}
            </ul>
        </div>

        {# Add group in group tab content #}
        <div id="group_in_group_tab" class="hidden">
            <ul class="member_collection" data-url="{{ path('search_group_member_groups', {'id': group.id}) }}">
                {% include(':popups:group_member_groups.html.twig') %}
            </ul>
        </div>

        {# Add users tab content #}
        {% if is_granted('EDIT', group) %}
            <div id="add_members_tab" class="hidden">
                <div class="search_container">
                    <div class="input_container">
                        <i class="fa fa-search"></i>
                        <select name="search-type">
                            <option value="user" selected>{{ 'Gebruiker'|trans }}</option>
                            <option value="group">{{ 'Groep'|trans }}</option>
                        </select>
                        <div class="overflow">
                            <input class="searchInput" type="text"/>
                        </div>
                    </div>
                </div>

                <ul class="member_collection users_or_groups" data-url="{{ path('search_group_users', {'id': group.id}) }}">
                    {% include(':popups:group_users.html.twig') with {'members': memberships} %}
                </ul>
            </div>
        {% endif %}

        {# Add groups tab content #}
        {% if is_granted('EDIT', group) %}
            <div id="add_groups_tab" class="hidden">
                <div class="search_container">
                    <div class="input_container">
                        <i class="fa fa-search"></i>
                        <div class="overflow">
                            <input class="searchInput" type="text"/>
                        </div>
                    </div>
                </div>

                <ul class="member_collection users_or_groups" data-url="{{ path('group_groups_linkable', {'id': group.id}) }}">
                    {% include(':popups:group_groups_linkable.html.twig') with {'groups': groups} %}
                </ul>
            </div>
        {% endif %}
        </div>
    </div>

    {% if is_granted('EDIT', group) %}
        <ul class="icons right">
            {% if is_granted('EDIT_DETAILS', group) %}
                <li>
                    <a id="edit_group_link" href="#">
                        <i class="fa fa-edit"></i>
                    </a>
                </li>
            {% endif %}
            <li>
                <a id="download_group_link" href="{{ path('group_export_members', {'id': group.id}) }}">
                    <i class="fa fa-download"></i>
                </a>
            </li>
            {% if is_granted('EDIT_DETAILS', group) %}
                <li>
                    <a id="delete_group_link" href="#">
                        <i class="fa fa-trash"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endif %}

    <div class="user-add-tpl hidden">
        <a href="#" class="add rounded"
           data-url="{{ path('membership_add', {groupId: '%gid%', userId: '%uid%'}) }}">
            <i class="fa fa-plus"></i>
        </a>
    </div>

    <div class="user-edit-tpl hidden">
        <a href="#" class="delete rounded"
           data-url="{{ path('membership_delete', {groupId: '%gid%', userId: '%uid%'}) }}">
            <i class="fa fa-minus"></i>
        </a>

        <select name="roles" class="roles"
                data-url="{{ path('membership_update', {groupId: '%gid%', userId: '%uid%'}) }}">
            <option value="admin">{{ 'Admin'|trans }}</option>
            <option value="member">{{ 'Member'|trans }}</option>
        </select>
    </div>
</div>
