<div class="jscroll-inner">
{% for user in users %}
    <li class="user user-{{ user.id }}" data-user-id="{{ user.id }}">
        {% if group.semiFormal %}
            <div class="user-avatar">
                {% if user.avatarUrl is not empty %}
                    <img class="thumbnail" src="{{ user.avatarUrl }}" />
                {% endif %}
            </div>
        {% endif %}

        <div class="user-name">
            <p>{{ user.displayName }}</p>
            <span>{{ user.emailAddress }}&nbsp;</span>

            {% if group.semiFormal %}
                <ul class="extra-attributes">
                    {% for key, value in user.extraAttributes %}
                        <li>{{ key }}: {{ value }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="actions">

            {% if attribute(members, user.id) is not defined %}
                <a href="#" class="add rounded"
                   data-url="{{ path('membership_add', {groupId: group.id, userId: user.id}) }}">
                    <i class="fa fa-plus"></i>
                </a>
            {% else %}

                {% if attribute(members, user.id).role == 'prospect' %}

                    {% include ':popups:_prospect.html.twig' %}

                {% else %}

                    <a href="#" class="delete rounded"
                       data-url="{{ path('membership_delete', {groupId: group.id, userId: user.id}) }}">
                        <i class="fa fa-minus"></i>
                    </a>

                    <select name="roles" class="roles"
                            data-url="{{ path('membership_update', {groupId: group.id, userId: user.id}) }}">
                        <option value="admin" {% if attribute(members, user.id).role == 'admin' %}selected{% endif %}>
                            {{ 'Admin'|trans }}
                        </option>
                        <option value="member" {% if attribute(members, user.id).role == 'member' %}selected{% endif %}>
                            {{ 'Member'|trans }}
                        </option>
                    </select>
                {% endif %}
            {% endif %}

        </div>
    </li>
{% endfor %}

{% set offset = offset + limit %}
{% if offset < users.totalCount %}
    <a class="groups-next" href="{{ path('search_group_users', {'id': group.id, 'query': query, 'offset': offset, 'limit': limit}) }}"></a>
{% endif %}
</div>
