<div id="group_organisation_groups" class="group {% if not visibleGroups.group_organisation_groups %}hidden{% endif %}"
     data-url="{{ path('groups', {'type': 'org'}) }}">

    <section class="background_green sort">
        <a id="close_organisation_groups" href="#" class="close"><i class="fa fa-times"></i></a>

        <div>
            <h3>{{ attribute(_context, 'org_groups_column_title_' ~ app.request.locale)|upper }}</h3>
            <p>{{ 'You are a member of these groups'|trans }}</p>
        </div>
    </section>

    {% if myGroups.collection.other.owner|length %}
        <section class="owned" id="group_organisation_groups_owner">
            <i class="fa fa-fw {% if displayState.organisation_groups_owner == 'collapsed' %}fa-angle-right{% else %}fa-angle-down{% endif %}"></i>
            <h3>{{ 'Owner'|trans }}</h3>
        </section>

        <ul class="{% if displayState.organisation_groups_owner == 'collapsed' %}hidden{% endif %}">
            {% include ':groups:organisation_groups-groups.html.twig' with {'type': 'org-owner', 'limit': 4, 'myGroups': myGroups.collection.other.owner} %}
        </ul>
    {% endif %}

    {% if myGroups.collection.other.admin|length %}
        <section class="owned" id="group_organisation_groups_admin">
            <i class="fa fa-fw {% if displayState.organisation_groups_admin == 'collapsed' %}fa-angle-right{% else %}fa-angle-down{% endif %}"></i>
            <h3>{{ 'Administrator'|trans }}</h3>
        </section>

        <ul class="{% if displayState.organisation_groups_admin == 'collapsed' %}hidden{% endif %}">
            {% include ':groups:organisation_groups-groups.html.twig' with {'type': 'org-admin', 'limit': 4, 'myGroups': myGroups.collection.other.admin} %}
        </ul>
    {% endif %}

    {% if myGroups.collection.other.member|length %}
        <section class="owned" id="group_organisation_groups_member">
            <i class="fa fa-fw {% if displayState.organisation_groups_member == 'collapsed' %}fa-angle-right{% else %}fa-angle-down{% endif %}"></i>
            <h3>{{ 'Member'|trans }}</h3>
        </section>

        <ul class="{% if displayState.organisation_groups_member == 'collapsed' %}hidden{% endif %}">
            {% include ':groups:organisation_groups-groups.html.twig' with {'type': 'org-member', 'limit': 4, 'myGroups': myGroups.collection.other.member} %}
        </ul>
    {% endif %}

</div>
